<div class="row" style="margin-top:10px;margin-bottom:10px;">
  <div class="col-xs-12 col-md-6">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="dashboard-stat2">
            <div class="display">
                <div class="number">
                    <small>Block Height</small>
                    <h3>
                    <div class="icon">
                        <i class="fas fa-cubes"></i>
                    </div>
                    #
                    <span data-counter="counterup" data-value="stats.blockHeight" class="font-green-title">{{stats.blockHeight | number: 0 }}</span>
                    </h3>
                </div>
            </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="dashboard-stat2">
            <div class="display">
                <div class="number">
                    <small>Block Time</small>
                    <h3>
                        <div class="icon">
                            <i class="fas fa-clock"></i>
                        </div>
                        <span data-counter="counterup" data-value="stats.blockTime" class="font-green-title">{{stats.blockTime | number: 2}} s</span>
                    </h3>
                </div>
            </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="dashboard-stat2 ">
            <div class="display">
                <div class="number">
                    <small>Network Hashrate</small>
                    <h3>
                        <div class="icon">
                            <i class="fas fa-tachometer-alt-fastest"></i>
                        </div>
                        <span data-counter="counterup" data-value="stats.hashrate" class="font-green-title">{{stats.hashrate | totalDifficulty}}/s</span>
                    </h3>
                </div>
            </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="dashboard-stat2 ">
            <div class="display">
                <div class="number">
                    <small>Difficulty</small>
                    <h3>
                        <div class="icon">
                            <i class="fas fa-puzzle-piece"></i>
                        </div>
                        <span data-counter="counterup" data-value="stats.difficulty" class="font-green-title">{{stats.difficulty | totalDifficulty}}</span>
                    </h3>
                </div>
            </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="dashboard-stat2 ">
            <div class="display">
                <div class="number">
                    <small>ACTIVE ADDRESSES*</small>
                    <h3>
                        <div class="icon">
                            <i class="fas fa-file-invoice-dollar"></i>
                        </div>
                        <span data-counter="counterup" data-value="stats.difficulty" class="font-green-title">{{stats.activeAddresses | number}}</span>
                    </h3>
                </div>
            </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="dashboard-stat2 ">
            <div class="display">
                <div class="number">
                    <small>CLO Transferred**</small>
                    <h3>
                        <div class="icon">
                            <i class="fas fa-exchange-alt"></i>
                        </div>
                        <span data-counter="counterup" data-value="stats.difficulty" class="font-green-title">{{stats.cloTransferredAmount | number:2}}</span>
                    </h3>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-6">
    <div class="flex-wrapper">
      <a class="banner-image" href="https://guarda.co/?utm_source=blockexplorers&utm_medium=banner&utm_campaign=guarda" rel="noopener noreferrer" target="_blank">
        <img src="img/guarda.png" alt="Guarda Wallet" />
      </a>
      <a class="banner-image" href="https://changenow.io?link_id=01b81d035af489" rel="noopener noreferrer" target="_blank">
        <img src="img/changenow.png" alt="ChangeNOW" class="changenow-banner" />
      </a>
    </div>
  </div>
</div>
